$font: "Roboto", sans-serif;
$primary-color: #2a4d69;

$nav-background-color: #e7eff6;
$nav-active-background-color: #adcbe3;
$tab-border-color: #85969e;

$dot-size: 14px;
$dot-padding: 12px;

$error-color: #f14668;

$base-margin: 8px;
